/*body { margin-top:20px; }*/
/*.panel-title {display: inline;font-weight: bold;}*/
/*.checkbox.pull-right { margin: 0; }*/
/*.pl-ziro { padding-left: 0px; }*/

.container{
  margin-top: 5%;
  width: 450px !important;
  border: none;
}

button{
  background-color: #00203FFF;
  color: white;
  height: 50px;
}

button:hover{
  background-color: darkcyan;
  color: #00203FFF;
  font-size: larger;
  border: none;
}
