<div class="topNav">
  <div>
    <button class="float-left" (click)="goToHome()">Home</button>
  </div>
  <div class="float-left" *ngIf="loggedIn()">
      <button (click)="goToReservation()">Book a reservation</button>
      <button (click)="goToPassengerDetails()">Get passenger details</button>
      <button (click)="goToCancelReservation()">Cancel reservation</button>
      <button (click)="goToClassAvailability()">Get availability</button>
  </div>
  <div *ngIf="loggedIn()">
    <button class="float-right" (click)="goToLogout()">Logout</button>
  </div>
  <div class="float-right" *ngIf="!loggedIn()">
    <button class="float-left" (click)="goToRegister()">Register</button>
    <button class="float-left" (click)="goToLogin()">Login</button>
  </div>
</div>


