.topNav{
  background: #00203FFF !important;
  padding: 0 0 0 0;
  min-width: 100%;
}

body{
  margin: 0;
}

button{
  border: none;
  background: #00203FFF;
  color: white !important;
  height: 70px;
  width: 167px;
}

button:hover {
  color: black !important;
  background-color: gainsboro;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.navbar-toggler-icon{
  background-color: white !important;
}

.hamburger-icon{
  width: 60px !important;
}

.hamburger-body{
  border-style: solid;
  border-radius: 5px;
  border-color: #00203FFF;
}

