.top {
  margin-top: 40px;
}

.top-thank-you{
  margin-top: 100px;
}

.left{
  margin-right: 14px;
}

.right{
  margin-left: 35%;
}

.right-submit{
  margin-left: 20%;
}

.font-size{
  font-size: medium;
}

.table{
  border-width: 5px;
  height: 10px;
  border-color: #00203FFF;
  position:absolute;
  bottom: 0;
  right:0;
}

.error-top{
  margin-top: 30px;
}
