.top {
  margin-top: 40px;
}

.top-thank-you{
  margin-top: 100px;
}

.left{
  margin-right: 14px;
}

.right{
  margin-left: 35%;
}

.right-submit{
  margin-left: 20%;
}

.font-size{
  font-size: medium;
}

.table{
  border-width: 5px;
  height: 10px;
  border-color: #00203FFF;
  bottom: 0;
  right:0;
  margin-top: 13%;
}

.error-top{
  margin-top: 30px;
}


body { background: #eee }

.container-fluid { max-width: 1200px; }

header {
  background: #563d7c;
  padding: 2em 1em;
  color: #fff;
  margin-bottom: 2em;
h1 {
  font-weight: 200;
}
}

.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
img {
  width: 100%;
}
}

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}


