.width{
  width: 50px;
}

body{
  width: 100%;
  height: -webkit-fill-available;
  background-color: #17a2b8;
}

.warning{
  font-size: xx-large;
  padding-top: 20%;
  color: white;
}

a{
  color: white;
  text-decoration: underline;
}
