.width{
  width: 50px;
}

body{
  width: 100%;
  height: -webkit-fill-available;
  background-color: #17a2b8;
}

.warning{
  font-size: xx-large;
  padding-top: 20%;
  color: white;
}

a{
  color: white;
  text-decoration: underline;
}

.alert-danger{
  background-color: transparent;
  color: red;
}

.password-icon{
  height: 30px;
  width: 30px;
}
.tool {
  position: relative;
  opacity: 100% !important;
}

.tool span {
  visibility: hidden;
  width: 10em;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 9;
  top: -1em;
  left:  100%;
  margin-left:1em;
  opacity: 0;
  transition: opacity 1s;
}
.tool span::after {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tool input {
  display: none;
}
.tool input:checked+span {
  visibility: visible;
  opacity: 1;
}
