.width{
  width: 50px;
}

body{
  width: 100%;
  height: -webkit-fill-available;
  background-color: #17a2b8;
}

.warning{
  font-size: xx-large;
  padding-top: 20%;
  color: white;
}

a{
  color: white;
  text-decoration: underline;
}

.alert-danger{
  background-color: transparent;
  color: red;
}

.password-icon{
  height: 30px;
  width: 30px;
}

/*.tooltip {*/
/*  !*position: relative;*!*/
/*  display: inline-block;*/
/*}*/

/*.tooltip-text {*/
/*  visibility: hidden;*/
/*  width: 120px;*/
/*  background-color: black;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  padding: 5px 0;*/
/*  border-radius: 6px;*/

/*!*  !*position: absolute;*!*!*/
/*  z-index: 999;*/
/*}*/

/*.tooltip:hover .tooltip-text {*/
/*  visibility: visible;*/
/*}*/

/*!*.tooltip .tooltiptext::after {*!*/
/*!*  content: " ";*!*/
/*!*  !*position: absolute;*!*!*/
/*!*  top: 100%; !* At the bottom of the tooltip *!*!*/
/*!*  left: 50%;*!*/
/*!*  margin-left: -5px;*!*/
/*!*  border-width: 5px;*!*/
/*!*  border-style: solid;*!*/
/*!*  border-color: black transparent transparent transparent;*!*/
/*!*}*!*/
